body{

  margin: 0;
  background-color: #eff3f6;
  //background-image: url(https:https://cdn.discordapp.com/attachments/450559026338594827/450560840358166529/unknown.png);
  //background-repeat: no-repeat;
  //background-size: 100% auto;
}
.navbar a{
  text-decoration: none;
  color: white;
}

.toutou{
  width: 50%;
  margin: auto;
}

h3{
  text-align: left;
  margin-top: 2%;
}

.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #259af2;
  width: 100%;
  display: flex;
  align-items: center;
  height: 67px;
}


.right {
  width: 80%;
  text-align: right;
}

  li{
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.tout{
  text-align: center;
  width: 50%;
  margin: auto;
  background-color: white;

}

