body {
  margin: 0;
  background-color: #eff3f6;
}

.navbar a{
  text-decoration: none;
  color: white;
}

.toutou{
  width: 50%;
  margin: auto;
}

h3{
  text-align: left;
  margin-top: 2%;
}

.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #259af2;
  width: 100%;
  display: flex;
  align-items: center;
  height: 67px;
}


.right{
  width: 80%;
  text-align: right;
}

.navbar li{
   display: block;
   color: #fff;
   padding: 14px 16px;
   text-decoration: none;
 }



.co{
  width: 390px;
  height: 46px;
  background: gray;
  color: white;
  border: solid 1px black;
  border-radius: 5px;
  margin-bottom: 31px;
  cursor: pointer;
}

.ins{
  width: 390px;
  height: 46px;
  background: gray;
  color: white;
  border: solid 1px black;
  border-radius: 5px;
  margin-bottom: 31px;
  cursor: pointer;

}

.container{
  display: flex;
  width: 100%;
  margin-top: 35px;


}
.container-gauche{
  background-color: white;
  margin-right: 40px;
}

.container-droite{
  background-color: white;

}

img{
  width: 100%;
}

.sous{
  display: flex;

}

.text{

  padding-top: 4px;
  align-items: center;
  padding-left: 23px;
  line-height: 12px;
  width: 59%;
}

.boutt{
  text-decoration:none;
  margin: auto;
  button{
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    padding-left: 14px;
    padding-right: 14px;
    background-color: #36af47;
    border: solid 1px #2f933e;
    color: white;
    border-radius: 5px
  }

}

.title{
  margin-top: 4%;
  font-size: 20px;
  background-color: #fff;
}

.tableau li {
  display: inline;
  list-style: none;
  color: black;
}
 .tableau{
   width: 100%;
   display: inline-block;
 }

 ul{
   margin-left: -40px;
 }


 .col1{
   width: 100%;
   display: flex;
   text-align: center;
 }

 .l1{
  width:25%;
}


.block{
   width: 25%;
   margin: auto;
  padding-top: 20%;
}


.co{
     width: 100%;
}

.ins{
  width: 100%;
}

.ins a {
  color: white;
  margin-left: 33%;
  text-decoration: none;
}

.co a {
  color: white;
  margin-left: 33%;
  text-decoration: none;
}
