h1 CONNECTE-TOI

form(method="post")
    input(type="username", name="username", placeholder="username")
    input(type="password", name="password", placeholder="password")
    button(type="submit") Log in

    a(href="/new") inscription