doctype html
html(lang='fr')

    head
        meta(charset='UTF-8')
        title Forum
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet")
        link(rel="stylesheet", href="/css/profile.css")
        div(class="navbar")
            li(href="") Home
            li(href="") News
            li(href="") Contact
            li(href="") About
            div(class="right")
                li(href="") About


    body
        div(class="block")
            div(class="block-gauche")
                div(class="block-gauche-list")
                    div(class="icon")
                        a(href="")
                            img(src="/image/user.png")
                    div(class="text")
                        h4 My Profile
                        a How your account looks like
                div(class="block-gauche-list")
                    div(class="icon")
                        a(href="")
                            img(src="/image/notification.png")
                    div(class="text")
                        h4 Notifications
                        a Email notifications and all around this
                div(class="block-gauche-list")
                    div(class="icon")
                        a(href="")
                            img(src="/image/reload.png")
                    div(class="text")
                        h4 Download History
                        a View your recent downloads
                div(class="block-gauche-list")
                    div(class="icon")
                        a(href="")
                            img(src="/image/shopping.png")
                    div(class="text")
                        h4 Billing & invoices
                        a Everything about your money
                div(class="block-gauche-list")
                    div(class="icon")
                        a(href="")
                            img(src="/image/email.png")
                    div(class="text")
                        h4 Support
                        a Do you need help?
            div(class="block-droite")
                h2 My profile
                div(class="title")
                    div(class="photo")
                        img(src="/image/user.png")
                    div(class="name")
                        h4 Your name
                        input(value=user.username)
                div(class="reste")
                    div(class="bio")
                        H4 Bio
                        input(value=user.bio)
                    div(class="champ")
                        h4 Email Adress
                        input(value=user.email)
                        button(type="submit") Change
                        h4 password
                        input(value=user.password)
                        button(type="submit") Change
        div(class="block-bas")
            h2 Connected Services
            div(class="services")
                div(class="service")
                    div(class="nom")
                        img(src="/image/paypal.png")
                        a Paypal
                    div(class="adresse")
                        a zpdkapzed@zapodkazpe
                div(class="service")
                    div(class="nom")
                        img(src="/image/spotify.png")
                        a Spotify
                    div(class="adresse")
                        a zpdkapzed@zapodkazpe
                div(class="service")
                    div(class="nom")
                        img(src="/image/facebook2.png")
                        a Facebook
                    div(class="adresse")
                        a zpdkapzed@zapodkazpe
                div(class="service")
                    div(class="nom")
                        img(src="/image/twitter2.png")
                        a Twitter
                    div(class="adresse")
                        a zpdkapzed@zapodkazpe
                div(class="service")
                    div(class="nom")
                        img(src="/image/pinterest2.png")
                        a Pinterest
                    div(class="adresse")
                        a zpdkapzed@zapodkazpe