doctype html
html(lang='fr')

    head
        meta(charset='UTF-8')
        title Forum
        link(rel="stylesheet", href="/css/question.css")
    if user
        div(class="navbar")
            li
                a(href="/") Home
            li
                a(href="/profile/" + user.id) Profil
            li
                a(href="/question") Question
            li
                if user.role === "admin"
                    a(href="/admin/")
                        span Administrateur
                else
                    a(href="") About
            div(class="right")
                li
                    a(href="deco") Deconnexion


    body
        div(class="question")
            div(class="first")
                h1 New Question
            div(class="formulaire")
                form(method="post")
                    div(class="title")
                        label Titre
                        input(id='title' name='title')
                    div(class="content")
                        label(for='content') Question
                        input(id='content' name='content')
                    button(type="submit") VALIDER